In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/Users/mugunthansaravanan/Desktop/Project/Datasets/fraud_dataset.csv")
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality,Fraud_Risk
0,1,0,0,1,0,5849,0,146,360,1,1,1,0
1,1,1,1,1,1,4583,1508,128,360,1,1,3,1
2,1,1,0,1,1,3000,0,66,360,1,1,1,1
3,1,1,0,0,1,2583,2358,120,360,1,1,1,1
4,1,0,0,1,0,6000,0,141,360,1,1,1,0

In [4]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Term',
       'Credit_History_Available', 'Housing', 'Locality', 'Fraud_Risk'],
      dtype='object')

In [5]:
df.isnull().sum()

Gender                      0
Married                     0
Dependents                  0
Education                   0
Self_Employed               0
ApplicantIncome             0
CoapplicantIncome           0
LoanAmount                  0
Loan_Term                   0
Credit_History_Available    0
Housing                     0
Locality                    0
Fraud_Risk                  0
dtype: int64

In [6]:
df.shape

(827, 13)

In [7]:
X=df.drop(columns=["Fraud_Risk"],axis=1)
y=df["Fraud_Risk"]

In [8]:
X[:10]

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality
0,1,0,0,1,0,5849,0,146,360,1,1,1
1,1,1,1,1,1,4583,1508,128,360,1,1,3
2,1,1,0,1,1,3000,0,66,360,1,1,1
3,1,1,0,0,1,2583,2358,120,360,1,1,1
4,1,0,0,1,0,6000,0,141,360,1,1,1
5,1,1,2,1,1,5417,4196,267,360,1,0,1
6,1,1,0,0,1,2333,1516,95,360,1,1,1
7,1,1,3,1,1,3036,2504,158,360,0,1,2
8,1,1,2,1,1,4006,1526,168,360,1,1,1
9,1,1,1,1,1,12841,10968,349,360,1,0,2

In [9]:
y[:10]

0    0
1    1
2    1
3    1
4    0
5    1
6    1
7    1
8    1
9    1
Name: Fraud_Risk, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=4)
X_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Term,Credit_History_Available,Housing,Locality
788,1,0,0,1,0,2482,0,59,360,1,1,1
342,1,1,1,0,1,4554,1229,158,360,1,0,1
382,0,0,0,1,0,6000,0,156,360,1,1,1
820,0,0,0,1,0,2989,0,61,360,1,1,1
623,0,0,0,1,0,3215,0,87,360,1,0,1

In [11]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
forest.fit(X_train, y_train)

RandomForestClassifier()

In [12]:
forest.score(X_train, y_train)

1.0

In [13]:
pred=forest.predict(X_test)
pred[:10]

array([1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [14]:
y_test[:10]

220    1
800    0
574    1
703    0
447    1
247    1
287    1
138    1
328    1
535    0
Name: Fraud_Risk, dtype: int64

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)*100

92.7710843373494